$roboto-slab: 'Roboto Slab', ;

.col-span-2 {
    grid-column: span 2;
    background-color: red;
}

.row-span-2 {
    grid-row: span 2;
    background-color: aqua;
}

body {
    margin: 0;
    font-family: 'Open Sans', ;
    box-sizing: border-box;
}

.container {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

header {
    box-shadow: 0px 1px 3px 0 rgba(155, 155, 155, 0.2);
    background-color: #fbfbfb;

    .container {
        height: 48px;
        line-height: 48px;
        color: #646464;
        font-size: 12px;
        display: flex;
        justify-content: space-between;
    }

    .header-address {
        padding-right: 12px;
        border-right: 1px solid #e6e5e5;
        margin-right: 10px;
    }

    .social-icon + .social-icon {
        margin-left: 12px;
    }

    .social-icon:hover {
        color: #43a906;
    }
}

.navigation-panel {
    .logo-text {
        font-size: 29px;
        position: relative;
        top: 4px;
        color: #3e3e3e;
        font-weight: bold;
        font-family: $roboto-slab;
    }

    .leaf-icon {
        position: absolute;
        top: -10px;
        left: 18px;
        font-size: 23px;
        color: #43a906;
    }

    .leaf-icon + .leaf-icon {
        transform: rotateY(180deg);
        left: 42px;
    }

    .container {
        display: flex;
        justify-content: space-between;
        height: 105px;
        line-height: 105px;
    }

    .nav-link {
        color: #393939;
        font-size: 14px;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
        font-family: $roboto-slab;

        &:hover,
        &.active {
            color: #43a906;
        }

        &.active {
            position: relative;

            &::before {
                content: '';
                position: absolute;
                left: -20px;
                right: -20px;
                height: 5px;
                background-color: #43a906;
                bottom: -43px;
            }
        }
    }

    .nav-link + .nav-link {
        margin-left: 33px;
    }
}

#tmp {
    background-color: #888;
    height: 600px;
}

.latest-work {
    .container {
        padding: 114px 0;
    }

    h2 {
        font-family: $roboto-slab;
        font-size: 36px;
        font-weight: bold;
        text-align: center;
        color: #222222;
        text-transform: uppercase;
        margin: 0;
        height: 27px;
        line-height: 27px;
    }

    .section-description {
        max-width: 880px;
        margin: 30px auto 60px auto;
        font-size: 16px;
        line-height: 1.75;
        text-align: center;
        color: #393939;
    }

    .tab-control {
        text-align: center;
        margin-bottom: 55px;
    }

    .tab-button {
        height: 45px;
        line-height: 43px;
        border-radius: 2px;
        border: solid 1px #e9e9e9;
        background-color: #f6f6f6;
        padding: 0 24px;
        font-size: 14px;
        font-weight: 500;
        color: #6a6b6a;
        font-family: $roboto-slab;
        text-transform: uppercase;
    }

    .tab-button + .tab-button {
        margin-left: 6px;
    }

    .tab-item {
        display: none;

        &.active {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-auto-rows: 285px;
            gap: 10px;
        }
    }

    .work-case:nth-child(5n + 1),
    .work-case:nth-child(5n + 5) {
        grid-column: span 2;
        background-color: red;
    }

    .work-case:nth-child(5n + 3) {
        grid-row: span 2;
        background-color: purple;
    }

    .work-case {
        position: relative;

        & > img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        &:hover .case-description {
            display: flex;
        }
    }

    .case-description {
        display: none;
        position: absolute;
        justify-content: center;
        align-items: center;
        top: 10px;
        right: 10px;
        bottom: 10px;
        left: 10px;
        background-color: rgba(3, 3, 3, .85);
        color: white;
        font-family: $roboto-slab;
        font-size: 16px;
        text-transform: uppercase;
    }
}